html {
    height: fit-content;
    min-height: 100%;
}
body {
    height: fit-content;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #05ffa3;
    background: linear-gradient(40deg, #2096ff, #05ffa3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
}
body, input, .ui-widget, .ui-autocomplete.ui-widget {
    font-family: 'Kalam', cursive;
}
#title {
    color: var(--white);
    text-align: center;
    padding-top: 20vh;
    text-shadow: 2px 2px 2px rgb(80, 80, 80);
    font-size: 400%;
    line-height: 95%;
    margin-bottom: 15px
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
form {
    background-color: var(--white);
    border-radius: 10px;
    width: 400px;
    margin: auto;
    padding: 25px;
    margin-bottom: 25px;
}
form button {
    margin-top: 15px;
    width: 100%!important;
}
.form-group label {
    margin-bottom: .1rem;
}
#loginForm {
    margin-top: 5px;
}

#loginForm button {
    margin: 0 0 15px 0;
}
#loginForm a {
    text-align: center;
    display: block;
}

#forgottenPasswordForm {
    margin-top: 5px;
}

#forgottenPasswordForm button {
    margin: 0 0 15px 0;
}

#registrationForm {
    margin-top: 5px;
}

#registrationForm button {
    margin: 0 0 15px 0;
}
#registrationForm > div.form-check {
    margin-bottom: 10px;
}

.fa{
    padding: 10px;
}

.profile-menu{
    left: -90px;
    width: 100px;
}

.form-container {
    align-items: center;
    min-height: calc(100vh - 56px);
}

.error-container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 56px);
}

.email-confirm{
    margin: auto;
    margin-top: 20vh;
    padding: 25px;
    background: var(--white);
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
}

.email-confirm h1 {
    text-align: center;
}

.error-page {
    margin: auto;
    padding: 15px;
    background: var(--white);
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.alert-danger{
  margin: 10px auto;
  max-width: 400px;
}

.alert-success{
  margin: 10px auto;
  max-width: 400px;
}

.aszf{
    color: blue;
    font-style: italic;
    display: inline-block;
    cursor: pointer;
}

.modal-dialog,
.modal-content {
    height: 90%;
}

.modal-body {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
    width: calc(100% - 1px)
}

.modal-body::-webkit-scrollbar {
    width: 12px;
}

.modal-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.modal-body::-webkit-scrollbar-thumb {
    background: #888;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 410px) {
    form {
        width: 300px;
    }
    form button {
        width: 300px;
    }
    .errorpage{
        width: 90%;
    }
    .alert-success{
        max-width: 300px;
    }
    .alert-danger{
        max-width: 300px;
    }
    .email-confirm{
        width: 300px;
    }
}
