html {
    height: 100%;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background: #05ffa3;
    background: linear-gradient(40deg, #2096ff, #05ffa3);
}
body, input {
    font-family: 'Kalam', cursive;
}
#title {
    color: var(--white);
    text-align: center;
    padding-top: 20vh;
    text-shadow: 2px 2px 0px rgb(80, 80, 80);
    font-size: 400%;
    line-height: 95%;
}
form {
    width: 400px;
    margin: auto;
    padding-top:25px;
}
form button {
    width: 400px;
}

@media (max-width: 410px) {
    form {
        width: 300px;
    }
    form button {
        width: 300px;
    }
}
