html {
	height: fit-content;
	min-height: 100%;
}

body {
	height: fit-content;
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: #05ffa3;
	background: linear-gradient(40deg, #2096ff, #05ffa3);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow-y: scroll;
}

body,
input,
.ui-widget,
.ui-autocomplete.ui-widget {
	font-family: 'Kalam', cursive;
}

textarea {
    resize: none;
}

#title {
	color: var(--white);
	text-align: center;
	padding-top: 20vh;
	text-shadow: 2px 2px 2px rgb(80, 80, 80);
	font-size: 400%;
	line-height: 95%;
	margin-bottom: 15px
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

#registrationForm, #loginForm, #mainForm, #forgottenPasswordForm {
	background-color: var(--white);
	border-radius: 10px;
	width: 400px;
	margin: auto;
	padding: 25px;
	margin-bottom: 25px;
}

#registrationForm button {
	margin-top: 15px;
	width: 100%!important;
}
#loginForm button {
	margin-top: 15px;
	width: 100%!important;
}
#mainForm button {
	margin-top: 15px;
	width: 100%!important;
}
#forgottenPasswordForm button {
	margin-top: 15px;
	width: 100%!important;
}
#forgottenPasswordForm h1 {
	margin-bottom: 20px;
	text-align: center;
}

.forgotten-password-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-group label {
	margin-bottom: .1rem;
}

#loginForm {
	margin-top: 15px;
}

#loginForm button {
	margin: 0 0 15px 0;
}

#loginForm a {
	text-align: center;
	display: block;
}

#forgottenPasswordForm {
	margin-top: 15px;
}

#forgottenPasswordForm button {
	margin: 0 0 15px 0;
}

#registrationForm {
	margin-top: 15px;
}

#registrationForm button {
	margin: 0 0 15px 0;
}

#registrationForm>div.form-check {
	margin-bottom: 10px;
}

.custom-file-label::after{
	 background: #007bff;
	 color: white;
}

.fa {
	padding-right: 10px;
}

.profile-menu {
	left: -30px;
	width: 100px;
}

.alert.alert-primary.cookie-alert {
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 10px;
}

.form-container {
	align-items: center;
	min-height: calc(100vh - 56px);
}

.error-container {
	display: flex;
	align-items: center;
	min-height: calc(100vh - 56px);
}

.activation-body {
	overflow: hidden;
}

.activation-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.activation {
	margin: auto;
	padding: 25px;
	background: var(--white);
	width: 80%;
	max-width: 600px;
	border-radius: 10px;
	text-align: center;
}

.activation h1 {
	text-align: center;
}

.error-page {
	margin: auto;
	padding: 25px;
	background: var(--white);
	width: 85%;
	max-width: 600px;
	border-radius: 10px;
}

.alert-danger {
	margin: 10px auto;
	max-width: 400px;
}

.alert-success {
	margin: 10px auto;
	max-width: 400px;
}

.aszf {
	color: blue;
	font-style: italic;
	display: inline-block;
	cursor: pointer;
}

.btn-upload{
	width: 150px;
}

.recipe-height{
	min-height: calc(100vh - 110px);
}

#aszfModal .modal-body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.g-recaptcha {
	display: inline-block;
}

#aszfModal .modal-dialog, #aszfModal .modal-content {
	height: 90%;
}

#aszfModal .modal-body {
	max-height: calc(100% - 120px);
	overflow-y: scroll;
	width: calc(100% - 1px)
}

#aszfModal .modal-body::-webkit-scrollbar {
	width: 12px;
}

#aszfModal .modal-body::-webkit-scrollbar-track {
	background: #f1f1f1;
}

#aszfModal .modal-body::-webkit-scrollbar-thumb {
	background: #888;
}

#aszfModal .modal-body::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.account {
    border-radius: 10px;
    background-color: var(--white);
    padding: 25px;
    margin: 20px auto;
}

.account form {
    padding: 5px;
}

.account input, label {
    max-width: 350px;
}

.account h3 {
    margin-top: 10px;
}

.alert {
	border-radius: 10px;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.recipe-container {
	border-radius: 10px;
    background-color: var(--white);
    padding: 25px;
    margin: 20px auto;
}
.recipe-container img {
	width: 100%;
	height: auto;
	padding: 5px;
	border-radius: 10px;
}

.recipe-container .recipe {
	margin-top: 15px;
	padding: 20px 20px 0 20px;
}

.recipe-container .recipe p {
	text-align: justify;
}

.recipe-container .recipe p:last-child {
	margin: 0;
}

@media (max-width: 600px) {
  .account {
    margin: 20px 10px;
    width: auto;
  }
	.recipe-container {
		width: 95%;
		padding: 10px;
	}
	.alert.alert-primary.cookie-alert {
    width: 95%;
    position: absolute;
    left: 2.5%;
    bottom: 10px;
	}
}

@media (max-width: 992px) {
	.profile-menu {
		width: 100%;
	}
}

@media (max-width: 410px) {
	#registrationForm, #loginForm, #mainForm, #forgottenPasswordForm {
		width: 342px;
	}
	#loginForm button {
		width: 300px;
	}
    #registrationForm button {
        width: 300px;
    }
    #mainForm button {
        width: 300px;
	}
	#forgottenPasswordForm button {
		width: 300px;
	}
	#registrationForm {
		padding: 20px;
	}
	.errorpage {
		width: 90%;
	}
	.alert-success {
		max-width: 300px;
	}
	.alert-danger {
		max-width: 300px;
	}
	.email-confirm {
		width: 300px;
	}
}
