html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(40deg,#2096ff,#05ffa3);
}
#title {
    color: var(--white);
    text-align: center;
    padding-top: 20vh;
}
