html {
    height: fit-content;
    min-height: 100%;
}
body {
    height: fit-content;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background: #05ffa3;
    background: linear-gradient(40deg, #2096ff, #05ffa3);
    overflow-y: scroll;
}
body, input, .ui-widget, .ui-autocomplete.ui-widget {
    font-family: 'Kalam', cursive;
}
#title {
    color: var(--white);
    text-align: center;
    padding-top: 20vh;
    text-shadow: 2px 2px 2px rgb(80, 80, 80);
    font-size: 400%;
    line-height: 95%;
    margin-bottom: 15px
}
form {
    background-color: var(--white);
    border-radius: 10px;
    width: 400px;
    margin: auto;
    padding: 25px;
    margin-bottom: 25px;
}
form button {
    margin-top: 15px;
    width: 100%!important;
}
.form-group label {
    margin-bottom: .1rem;
}
#loginForm {
    margin-top: 40px;
}
.form-container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 56px);
}

@media (max-width: 410px) {
    form {
        width: 300px;
    }
    form button {
        width: 300px;
    }
}
